// Colors
$primary: #9F67E8;
$secondary: #7171ea;
$success: #5ef15e; // hsl(117, 39%, 35%)
$danger: #ff4040; // hsl(0, 68%, 40%)
$warning: #fff164; // hsl(47, 100%, 46%)
$info: #59e2e2; // hsl(191, 96%, 29%)
$light: #e8e8e8; // hsl(0, 0%, 91%)
$dark: #20232d; // hsl(226, 17%, 15%)
$white: #fcfcfc; // hsl(0, 0%, 99%)
$black: #0d0d0d; // hsl(0, 0%, 5%)

// Font Sizes
$font-xs: .75rem;
$font-sm: 1rem;
$font-md: 1.375rem;
$font-lg: 1.625rem;
$font-xl: 2rem;
