// import all partial scss files
@import "_variables";
@import "_navigation";
@import "_projects";
@import "_form";

// minimal reset css
*,
html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	scroll-behavior: smooth;
}

body{
	position: relative;
	color: $dark;
	line-height: 1.5;
	font-family: 'Open Sans', Helvetica, sans-serif;
}

header, #contact{
	background: linear-gradient($primary, $secondary);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
}

main{
	position: relative;
	z-index: 10000;
	background-color: $white;
}

article{
	width: 100%;
	height: auto;
	min-height: 100vh;
	position: relative;
	padding: 2rem;
}

p{
	font-size: $font-md;
	margin: 1.5rem 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', Helvetica, sans-serif;
	letter-spacing: 2px;
}

h2{
	display: block;
	margin: 0 auto;
	font-size: $font-lg;
	padding-right: 2rem;
	padding-left: 1rem;
	text-align: center;
}

hr{
	margin: 5px auto 3rem;
	width: 50px;
	height: 5px;
	border: none;
	background-color: $primary;
}

h3{
	font-size: $font-md;
}

#about div{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	section{
		width: 100%;

		p{
			margin: 1.5rem auto;
			max-width: 85%;
		}

		&:nth-child(2){
			text-align: center;
		}
	}

	.profile-image{
		display: block;
		margin: 0 auto;
		border-radius: 50%;
		width: 30%;
		min-width: 150px;
		max-width: 250px;
	}

	h3{
		width: 100%;
		margin-bottom: 1rem;
	}

	.technologies{
		margin: 2rem auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		img{
			height: 50px;
			margin: .5rem;
			max-width: 100px;
		}
	}
}

// BACKGROUND CIRCLE STYLES
.header-bg-circle{
	position: fixed;
}

.contact-bg-circle{
	position: absolute;
}

.header-bg-circle, .contact-bg-circle{
	display: inline-block;
	top: 0;
	width: 90%;
	height: 100vh;
	pointer-events: none;

	span{
		position: absolute;
		border-radius: 50%;
		background-color: $white;
		opacity: .15;
	}
	:nth-child(1){
		top: 8%;
		left: 10%;
		width: 125px;
		height: 125px;
	}
	:nth-child(2){
		top: -3%;
		right: 10%;
		width: 250px;
		height: 250px;
	}
	:nth-child(3){
		top: 55%;
		left: 17%;
		width: 200px;
		height: 200px;
	}
	:nth-child(4){
		top: 70%;
		right: 4%;
		width: 175px;
		height: 175px;
	}
}

.title{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: fixed;

	img{
		width: 150px;
		opacity: .9;
		animation: rocking-logo 6s infinite ease-in-out;
	}

	@keyframes rocking-logo{
		from{transform: rotate(-15deg)}
		50%{transform: rotate(15deg)}
		to{transform: rotate(-15deg)}
	}

	h1, h2{
		color: $white;
		text-shadow: 1px 1px 2px $dark;
	}

	h1{
		margin-top: 15px;
		font-size: $font-xl;
	}

	h2{
		border: none;
		margin: 0;
		padding: 0;
	}
}

footer{
	margin: 0;
	position: relative;
	width: 100%;
	height: 35px;
	background-color: $dark;
	text-align: center;

	p{
		margin: 0;
	}

	a{
		color: $light;
		font-size: $font-xs;
		text-decoration: none;
	}
}

.redirect{
	margin: 0;
	color: $white;
}

// MEDIA QUERIES
@media screen and (min-width: 640px){
	.project-tile{
		width: 45%;
	}

	form{
		input, textarea{
			width: 400px;
			max-width: unset;
		}
	}
}

@media screen and (min-width: 840px){
	#about div{
		section{
			width: 50%;
			p{
				max-width: 65%;
			}
		}	

		section:nth-child(2){
			display: flex;
			flex-direction: column;
		}

		section.technologies{
			flex-direction: row;
		}

		.technologies{
			max-width: 65%;
		}
	} 
}
